@model List<klassycafe.Models.CHEFLIST>
@{
    ViewBag.Title = "Chefs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row mt-2">
    <div class="col-12">
        <div class="card border-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h5>Chefs</h5>
                    </div>
                    <div class="col-6">
                        <a href="/add-chef" class="btn btn-sm btn-primary pull-right">New Chef</a>
                    </div>
                </div>
                <hr />
                <div class="table-responsive">
                    <table class="table table-sm table-hover" id="example">
                        <thead>
                            <tr>
                                <th>State</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Name</th>
                                <th style="text-align: right;">Operations</th>
                            </tr>
                        </thead>
                        <thead>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.stateName</td>
                                <td><img src="~/Content/images/chef/@item.chef.PICTURE" style="height: 30px" /></td>
                                <td>@item.chef.TITLE</td>
                                <td>@item.chef.NAME</td>
                                <td style="text-align: right;">
                                    <a class="btn btn-primary btn-sm" href="/chef/@item.chef.ID" title="Details"><i class="fa fa-ellipsis-h"></i></a>
                                    <a class="btn btn-warning btn-sm" href="/edit-chef/@item.chef.ID" title="Edit"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-danger btn-sm" href="/remove-chef/@item.chef.ID" title="Remove"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            }
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
