@model List<klassycafe.Models.MENUITEM>
<section class="section" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-heading">
                    <h6>Our Menu</h6>
                    <h2>Our selections with quality taste</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-item-carousel">
        <div class="col-lg-12">
            <div class="owl-menu-item owl-carousel">
                @foreach (var mi in Model)
                {
                    <div class="item">
                        <div class='card' style="background-image: url(/Content/images/menuitem/@mi.IMAGE)">
                            <div class="price"><h6>$@String.Format("{0:0.0}", mi.PRICE)</h6></div>
                            <div class='info'>
                                <h1 class='title'>@mi.NAME</h1>
                                <p class='description'>@mi.DESCRIPTION</p>
                                <div class="main-text-button">
                                    <div class="scroll-to-section"><a href="#reservation">Make Reservation <i class="fa fa-angle-down"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>